# Directories
**/.idea
**/.vs
**/x64
**/cmake-build-debug
**/bin
**/obj
**/C/.vs/*
**/cmake-build-debug/*
**/x64/*
C/.vs/**
C/cmake-build-debug/**
C/x64/**
C/x64/Debug/vc142.pdb
C/x64/Debug/vc142.idb
C/x64/Debug/Main.obj
C/x64/Debug/C.tlog/CL.read.1.tlog
C/x64/Debug/C.pdb
C/x64/Debug/C.log
C/x64/Debug/C.ilk
C/x64/Debug/C.exe
C/cmake-build-debug/Testing/Temporary/LastTest.log
C/cmake-build-debug/CMakeFiles/C.dir/Main.c.obj
C/cmake-build-debug/C.exe
C/cmake-build-debug/.ninja_log
C/cmake-build-debug/.ninja_deps
C/cmake-build-debug/.cmake/api/v1/reply/target-C-Debug-0c22a3ae45b351551ec0.json
C/cmake-build-debug/.cmake/api/v1/reply/index-2022-09-24T12-24-38-0643.json
C/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-8a4faac8278c00fa14b8.json
C/.vs/C/v16/ipch/AutoPCH/8e6a0c820f519cd/MAIN.ipch
C/.vs/C/v16/Browse.VC.db
C/.vs/C/v16/.suo
